.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 0 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}
